<table>
	<thead>
		<tr>
			<th>姓名</th>
			<th>住址</th>
			<th>电话</th>
			<th>座位</th>
			<th>价格</th>
		</tr>
	</thead>
	<tbody>
		<% @orders.each do |order| %>
		<tr>
			<td>order.name</td>
			<td>order.address</td>
			<td>order.phone</td>
			<td>order.seats.collect {|s| "#{s.area.name}#{s.locate_x}排#{locate_y}号 #{s.price.price}元"}.join(" ")</td>
			<td>order.price</td>
		</tr>
		<% end %>
	</tbody>
</table>