<div class="align-center font-larger line-height-2">
    <div>请登录大麦网购买 <a href="http://item.damai.cn/105591.html">点此前往</a></div>
    <div class="font-smaller">
        <div>活动详询请咨询 15519026686</div>
    </div>
</div>