<div class="coverflow-item">
    <div class="coverflow-content">
        <div class="coverflow-card">
            <div class="coverflow-card-image vote-card-image">
                <%= image_tag 'img1.png' %>
            </div>
        </div>
        <div class="coverflow-overlay-text">
            <div class="vote-info-bottom">
                <div class="align-center vote-descr-text">
                    <div class="vote-activity-name">♪ 想和A叔零距离接触吗？ ♪</div>
                    <div>来大师课吧！</div>
                </div>
            </div>
            <%= link_to 'http://tieba.baidu.com/p/4586192586?share=9105&fr=share' do %>
                <button class="vote-detail-btn">查看详情</button>
            <% end %>
        </div>
        <div class="coverflow-overlay-right recital-info-right">
            <div class="coverflow-recital-title">
                <div>大</div>
                <div>师</div>
                <div>课</div>
            </div>
        </div>
    </div>
</div>