<div class="coverflow-item">
    <div class="coverflow-content">
        <div class="coverflow-card">
            <div class="coverflow-card-image vote-card-image">
                <%= image_tag 'img1.png' %>
            </div>
        </div>
        <div class="coverflow-overlay-text">
            <div class="vote-info-bottom">
                <div class="align-center vote-descr-text">
                    <div class="vote-activity-name">志愿者征集开始！</div>
                    <div>将报名表发送至463201301@qq.com</div>
                </div>
            </div>
            <%= link_to '/files/vol_sheet.doc' do %>
                <button class="vote-detail-btn">点此下载</button>
            <% end %>
        </div>
        <div class="coverflow-overlay-right recital-info-right">
            <div class="coverflow-recital-title">
                <div>志</div>
                <div>愿</div>
                <div>者</div>
                <div>募</div>
                <div>集</div>
            </div>
        </div>
    </div>
</div>