<div class="coverflow-item">
    <div class="coverflow-content">
        <div class="coverflow-card">
            <div class="coverflow-card-image vote-card-image">
                <%= image_tag 'img1.png' %>
            </div>
        </div>
        <div class="coverflow-overlay-text">
            <div class="vote-info-bottom">
                <div class="align-center vote-descr-text">
                    <div class="vote-activity-name">♪ 最想让A叔改编的歌曲 ♪</div>
                    <div>投票活动正在进行</div>
                </div>
            </div>
            <%= link_to 'http://tieba.baidu.com/p/4497624033' do %>
                <button class="vote-detail-btn">查看详情</button>
            <% end %>
        </div>
        <div class="coverflow-overlay-right recital-info-right">
            <div class="coverflow-recital-title">
                <div>投</div>
                <div>票</div>
                <div>活</div>
                <div>动</div>
            </div>
        </div>
    </div>
</div>