<div class="index-main">
    <ul class="index-lst-show">
        <li class="show">
            <h3 class="show-title">成都</h3>
            <p>12月1日晚</p>
            <p>状态: </p>
        </li>
        <li class="show">
            <h3 class="show-title">广州</h3>
            <p>12月1日晚</p>
            <p>状态: </p>
        </li>
        <li class="show">
            <h3 class="show-title">武汉</h3>
            <p>12月1日晚</p>
            <p>状态: </p>
        </li>
        <li class="show">
            <h3 class="show-title">厦门</h3>
            <p>12月1日晚</p>
            <p>状态: </p>
        </li>
    </ul>
    <div class="index-pic-cont">
        <div class="pic-slide-cont">
            <div class="pic-slide-section">
<!--                 <img src="static/images/img2.png" />
 -->                <%= image_tag 'img2.png' %>
            </div>
            <div class="pic-slide-section">
                <!-- <img src="static/images/bg.png" /> -->
                <%= image_tag 'bg.png' %>
            </div>
        </div>
        <div class="index-pic-bar">
            <a href="#" class="index-pic-bar-prev"><i class="fa fa-arrow-circle-o-left fa-lg"></i></a>
            <span class="index-pic-bar-indicators">
                <a href="#" data-index="0" class="index-pic-bar-indicator-active"><i class="fa fa-circle-o fa-lg"></i></a>
                <a href="#" data-index="1"><i class="fa fa-circle-o fa-lg"></i></a>
            </span>
            <a href="#" class="index-pic-bar-next"><i class="fa fa-arrow-circle-o-right fa-lg"></i></a>
        </div>
    </div>
</div>