<h2>#广州站签售会来啦#</h2>
<p>演奏会晚上：20:00-22:00左右。</p>
<p>售卖时间段：
<p>一、17:00-20:00</p>
<p>二、音乐会中场休息时间</p>
<p>三、演奏会结束后</p>
<br/>
<p>温馨提示：</p>
<ol>
	<li><p>付款方式分为现金和支付宝两种方式</p></li>
	<li><p>每个人购买周边后，无论购买数量多少，只让A叔签名一个（考虑到A叔压力山大的工作量啊喂）</p></li>
	<li><p>需要合影的同学请提前打开摄像头，将设备交给工作人员拍摄</p></li>
	<li><p>因人流量较大，请勿在出入口逗留，听听工作人员的话（嘿嘿）安排有序购买周边</p></li>
</ol>