<p>您好 <%= @user.name %>！</p>
<p>您已经成功预订如下座位：</p>
<% @order.seats.each do |seat| %>
	<li>
		<%= seat.area.recital.city + '站' + seat.area.name + seat.get_position %>
	</li>
<% end %>
<p>感谢您的预订，因暂未能开通在线支付，给您带来的不便敬请谅解. 请在当日内支付款项，付款方式如下，带来不便敬请谅解！</p>
<section>
    <ul>
        <li>工商银行：6212262402015869551，户名：杨倩，开户行：工商银行贵阳纪念塔支行</li>
        <li>建设银行：6217007100022904754，户名：杨倩，开户行：建行贵阳乌当支行</li>
        <li>支付宝账号：15519026686</li>
    </ul>
</section>
<section>
    <h3>付款成功后请将订票预留姓名+订票预留电话+订票座位+付款信息截图统一发送至邮箱584730793@qq.com</h3>
    收到付款邮件三天内给您快递票纸，同时将快递订单号发至您的邮箱方便您查询，演出详询：0851-86802933（9:00-18:00），15519026686杨小姐
</section>