@import "essential";
@import "cd";

.topbar {
    border-top: 3px solid #28B1BF;
    background: linear-gradient(to bottom, $darken-50, transparent);
    box-shadow: 0 1px 1px $lighter-30 inset;
    position: relative;
    z-index: 1;
    
    @include media-mobile {
        border-top: 2px solid #28B1BF;
    }
    
    .topbar-img {
        height: 3.5rem;
        padding: 1rem;
        display: inline-block;
        transition: opacity 0.1s ease-in-out;
        &:hover { opacity: 0.8; }
        
        @include media-mobile {
            height: 2rem;
            padding: 0.5rem;
        }
    }
    
    ul.topbar-menu {
        margin: 0;
        font-size: 0;
        padding: 0;
        li {
            list-style: none;
            display: inline-block;
            font-size: 1rem;
            position: relative;
            
            .topbar-item-body {
                display: inline-block;
                padding: 2rem;
                line-height: 1.5rem;
                text-decoration: none;
                font-size: larger;
                border-radius: 0 0 2px 2px;
                box-shadow: -1px 0 0 #333;
                
                &:hover {
                    // background-color: $lighter-20;
                    background: linear-gradient(to bottom, $lighter-20, $lighter-5);
                }
                
                @include media-mobile {
                    height: 1rem;
                    padding: 1rem;
                }
            }
        }
        
        &.nav-bar-profile-menu-active .nav-bar-profile-btn {
            background: linear-gradient(to bottom, $lighter-40, $lighter-30);
            border-radius: 0;
        }
    }
    
    .topbar-avatar {
        border-radius: 50%;
        // height: 1rem;
        height: 3rem;
        margin: -1rem;
        @include media-mobile {
            height: 2rem;
            margin: -0.5rem;
            margin-right: 0;
        }
        margin-right: 0;
    }
    
    ul.nav-bar-profile-menu {
        list-style: none;
        margin: 0;
        padding: 0;
        position: absolute;
        right: 0;
        box-sizing: border-box;
        
        background: linear-gradient(to bottom, #6d6d6d 0, #999 100%);
        color: #aaa;
        box-shadow: 0 1em 3em $darken-50;
        border-radius: 0 0 3px 3px;
        text-align: center;
        min-width: 100%;
        overflow: hidden;
        
        @include media-mobile {
            border-radius: 0;
            text-align: center;
            border-top: 1px solid #888;
        }
        
        z-index: -1;
        opacity: 0;
        transition: all 0.2s ease-in-out;
        visibility: hidden;
        
        & > li {
            display: block;
            & > * {
                display: block;
                min-width: 100%;
                @include media-mobile {
                    min-width: 100vw; }
                padding: 0.6em 1.2em;
                box-sizing: border-box;
                
                &:hover {
                    background: #28B1BF;
                    color: #fff;
                    text-shadow: 0 -1px $darken-40;
                    border-radius: 1px;
                }
            }
            & > a { text-decoration: none; }
        }
    }
    
}