
@import 'mqp';
@import 'cd';
@import 'essential';

.order-detail-cont {
    // background-color: $color1;
    $color1-var: desaturate(darken($color1, 15%), 13%);
    box-shadow: // -6px -6px 1em #666 inset,
                1px 1em 1px 1px $lighter-50 inset,
                1px 1px 3px $darken-30,
                1px 3px 0 $color1-var, 1px 4px 0 $lighter-50,
                1px 1px 4px 4px $darken-30,
                0 8px 0 $color1-var, 0 9px 0 $lighter-50;
    border-radius: 0 0 3px 3px;
    color: #666;
    line-height: 2;
    padding: 2em 1em 1em 1em;
    margin: -1em 1em 1em 1em;
    position: relative;
    // z-index: -1;

    a { color: #165c91; }

    hr.hr-order {
        margin: 1em 0;
        border: none;
        background: #444;
        background: linear-gradient(to right, transparent 0, $darken-20 50%, transparent 100%);
        height: 1px;
    }

}

.order-dotted { font-family: 'Animenz-Dotted'; }

.ribbon {
    .ribbon-title {
        display: block;
        line-height: 1.5;
        font-size: 1.2rem;
        width: 100%;
        margin: 0;
        padding: 0.3em 0.8em;
        position: relative;
        left: -0.8em;
        color: white;
        text-align: center;

        text-shadow: 1px 2px 0 $darken-40;
        // border-top: 1px solid #363636;
        // border-bottom: 1px solid #202020;
        // background: #333;
        // background: linear-gradient(to bottom, #444 0%, #333 100%);
        // box-shadow: 0 2px 0.5em $darken-40, 1px 1px 1px $lighter-10 inset;
        border-radius: 3px 3px 0 0;
		// background: #D3C58F;
		background: rgba(69, 144, 148, 0.9);

		box-shadow: 3px 7px 0 $darken-30;

        &::before, &::after {
            content: '';
            display: block;
            width: 0;
            height: 0;
            position: absolute;
            bottom: -11px;
            z-index: -10;
            border: 5px solid;
            border-color: #222 transparent transparent transparent;
        }
        &::before { left: 0; }
        &::after { right: 0; }
    }
}

// stackoverflow.com/questions/20532575/two-column-layout-fixed-right-column css - Two column layout, fixed right column - Stack Overflow
.order-left {
	float: left;
	width: 100%;

	.order-left-content {
		margin-right: 320px;
        padding: 0 1em 1em 1em;

		@include media-mobile {
			margin: 0;
		}
	}

	@include media-mobile {
		float: none;
	}
}

.order-right {
	float: right;
	width: 320px;
	margin-left: -320px;

	box-sizing: border-box;
	padding: 0 0 0 1em;

	@include media-mobile {
		margin: 1em 0 0 0;
		width: auto;
		float: none;
		padding: 0;
	}

    .back-button {
        margin: 0.5em 0;
        width: 100%;
    }
}

.button-order-addr {
    background: none;
    width: 100%;

    color: #777;
    border: 1px solid #777;
    box-shadow: none;
}