@import "cd";
@import "essential";

.seat-too-much {
    label.seat-label {
        pointer-events: none;
        cursor: not-allowed;
        opacity: 0.5;
    }
    input[type="checkbox"]:checked + label.seat-label {
        pointer-events: auto;
        cursor: pointer;
        opacity: 1.0;
    }
}

.rx-seatchooser-wrap {
    display: table;
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
    table-layout: fixed;
    .rx-seatchooser-main {
        display: table-cell;
        vertical-align: top;
    }
    .rx-seatchooser-second {
        display: table-cell;
        vertical-align: top;
        width: 16em;
        background-color: #37474F;
        box-shadow: 1px 0 2px $darken-40 inset;
        border-radius: 0 0.5em 0.5em 0;
        // background: white;
        
        .rx-seatchooser-info > * {
            padding: 0.5em;
        }
    }
}

@include media-mobile {
    .rx-seatchooser-wrap {
        display: block;
        padding: 0;
        .rx-seatchooser-main {
            display: block;
        }
        .rx-seatchooser-second {
            display: block;
            width: 100%;
            border-radius: 0;
            padding-bottom: 0.5em;
            box-shadow: none;
            
            .rx-seatchooser-info {
                position: fixed;
                bottom: 0;
                background-color: #546E7A;
                width: 100%;
                box-shadow: 0 0 1em $darken-60, 0 0 1px $lighter-20 inset;
                
                & > * {
                    display: inline-block;
                }
            }
        }
    }
}

ul.rx-seatchosen-list {
    padding: 0;
    margin: 0;
    li {
        padding: 0.5em 0.5em 0.5em 1em;
        list-style: none;
        background-color: #455A64;
        line-height: 2;
        box-shadow: 0 -1px 1px $darken-50 inset;
        
        &:first-child {
            border-radius: 0 0.5em 0 0;
            @include media-mobile {
                border-radius: 0;
            }
        }
    }
}

.rx-seatchooser-floor-cont {

    // margin: 0.5em;
    padding: 0.5em 0;
    border-radius: 0.5em 0 0 0.5em;
    background-color: #263238;
    overflow-x: auto;
    overflow-y: hidden;
    
    @include media-mobile {
        border-radius: 0;
        margin: 0.5em 0;
    }
    
    &.rx-seatchooser-floor-cont-hide {
        display: none;
    }
    
    .rx-seatchooser-floor {
        white-space: nowrap;
        text-align: center;
    }
}

ul.rx-tabs {
    list-style: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    
    background: #445E5B;
    border-radius: 0 0 3px 3px;
    box-shadow: 0 1.5em 3em $darken-50, 0 -1px 1px $darken-20 inset;
    
    li {
        float: left;
        a {
            padding: 1em 2.5em;
            display: block;
            text-decoration: none;
            text-shadow: 0 0 1px black;
            font-weight: bolder;
            
            &.rx-tabs-active {
                background: linear-gradient(to bottom, $lighter-30, $lighter-10);
                box-shadow: 0 0 1px black inset;
                // background-color: #B0BEC5;
            }
        }
        
        &:first-child {
            a {
                border-radius: 0 0 0 3px;
            }
        }
    }
}

.rx-tabc {
    .rx-tabc-wrap {
        display: none;
        &.rx-tabc-active {
            display: block;
        }
    }
}