
@import 'mqp';
@import 'cd';
@import 'essential';

// .seat-main {
//     background-color: #3C3838;
//     padding: 1em;
//     box-shadow: 2px 2px 1em #111, -1px -1px 0 #484848 inset;
//     position: relative;
//     z-index: 1;
//     @include media-mobile {
//         padding: 1em 0;
//     }
// }

// .seat-layout-end {
//     border-radius: 0 0 3px 3px;
//     @include media-mobile {
//         border-radius: 0;
//     }
// }

.seat-container {
    padding: 1em;
    margin: 1em;
    background: linear-gradient(to bottom, $darken-20, $darken-30);
    // border: 2px solid #0a0a0a;
    // $color-border: #8B9089;
    // box-shadow: 0 0 0 2px $color-border, 0 0 1em transparentize($color-border, 0.3),
                // 3px 3px 6px #181818 inset;; // 0 0 2px $color-border inset;
    border-radius: 1px;
    text-align: center;
    // margin: 2px;
    @include mq($until: tablet) {
        border-radius: 1px;
        margin: 1em 2px;
    }
}

.seat {
    display: inline-block;
    -webkit-user-select: none;
    input[type="checkbox"], .seat-checkbox {
        // visibility: hidden;
        display: none;
        
        &[disabled] + label, &.seat-disabled + label {
            opacity: 0.5;
            cursor: not-allowed;
            pointer-events: none;
        }
        &:checked + label, &.seat-checked + label {
            background-color: #FFCDD2;
            box-shadow: 0 0 1em $lighter-50, 0 0 0 1px #26A69A;
        }
        
    }
    &.seat-hidden label {
        visibility: hidden;
    }
    label {
        display: inline-block;
        width: 1.3em;
        height: 1.3em;
        line-height: 0;
        background-color: #ccc; // #ddc;
        border-radius: 2px 2px 2px 2px;
        cursor: pointer;
        // border: 1px solid gray;
        // box-shadow: 0 0 2px white inset, 1px 1px 0.5em black;
        margin: 0.2em 0.2em;
        transition: all 0.2s ease-in-out;
        box-sizing: border-box;
    }
}

.seat.seat-p680 label {
    background-color: #F06292;
}
.seat.seat-p580 label {
    background-color: #BA68C8;
}
.seat.seat-p480 label {
    background-color: #7986CB;
}
.seat.seat-p380 label {
    background-color: #4DD0E1;
}
.seat.seat-p280 label {
    background-color: #00897B;
}
.seat.seat-p180 label {
    background-color: #8BC34A;
}

.seat-row {
    line-height: 0;
}

.seat-placeholder {
    display: inline-block;
    width: 1.3em;
    height: 1.3em;
    margin: 0.2em 0.2em;
}

.seat-placeholder-stage {
    display: inline-block;
    width: 1.7em;
    height: 1.7em;
    background-color: #795548;
}

.seat-opbar {
    // margin: 0.5em 0;
    background-color: #2A2828;
    padding: 1em;
    box-shadow: 2px 2px 1em black, -1px -1px 0 #333 inset;
    @include media-mobile {
        padding: 0.5em 0; }
    & > * {
        display: inline-block;
        margin: 0.4em 0;
        
        @include mq($until: tablet) {
            display: block; }
    }
    
    .seat-left-bar {
        float: left; }
    .seat-right-bar {
        float: right; }
    .seat-left-bar, .seat-right-bar {
        @include mq($until: tablet) {
            float: none; }
    }
}

.seat-chooser-title {
    position: relative;
    z-index: 0;
}

#seat-chooser {
    position: relative;
}
