<p>您好 <%= @resource.name %>！</p>

<p>某人试图申请修改您的密码，您可以通过点击如下链接进入密码修改界面:</p>

<p><%= link_to '修改密码', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>如果您没有申请，请忽略这封邮件。</p>
<p>在您进入上方链接进行操作并创建新的密码之前，您的密码是不会改变的。</p>
<p>祝您购票愉快！</p>
