<div class="topbar">
    <div class="outer-container">
        <%= link_to root_path, :class => 'topbar-logo-img-cont' do %>
            <%= image_tag("animenz.png", :class=> 'topbar-img', :alt => 'Animenz Logo') %>
        <% end %>
        <%= render 'layouts/navigation_auth' %>
    </div>
</div>
<%= render 'layouts/messages' %>