<div>
	<div class="header-logo">
		<%= link_to root_path, :class => 'header-logo-img-cont' do %>
		  <%= image_tag("animenz.png", :class=> 'header-logo-img', :alt => 'Animenz Logo') %>
		<% end %>
	</div>
</div>
<div class="nav-bar-cont font-bold clearfix">
	<%= yield(:breadcumb)  %>
	<ul class="nav-bar float-right pos-relative nav-bar-profile-menu-cont">
		<%= render 'layouts/nav_links_for_auth' %>
	</ul>
</div>
